@charset "utf-8";

/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

input:-ms-input-placeholder { color:#a8a8a8; }
input::-webkit-input-placeholder { color:#a8a8a8; }
input::-moz-placeholder { color:#a8a8a8; }

html { text-align: center; display: inline-block; }
body { margin: 8px; padding: 5px; }
ul { list-style-type: none; }

.wrap {
    box-sizing: border-box;
    margin: auto;
    overflow: hidden;
    min-width: 1190px;
}
.header {
    max-width: 1190px;
    margin: auto;
    /*background-color: #F4F4FF;*/
	height: 150px;
}
.main-logo {
    position: absolute;
    width: 260px;
    height: 100px;
    margin-top: 16px;
    margin-left: 5px;
    padding: 10px;
}
.logo_image {
    position: relative;
    width: auto; 
    height: auto;
    max-width: 300px;
    max-height: 100px;
}
.main-content {
    width: 1190px;
    margin: auto;
    overflow: hidden;
}
.board-left {
    box-sizing: inherit;
    margin-top: 10px;
    margin-right: 8px;
    /*background-color: #FFFDF7;*/
    width: 180px;
    height: 1000px;
    font-family: 'Poor Story', cursive;
    font-size: 18px;
    float: left;
}
#intro { font-size: 22px; font-weight: 800; text-align: center; }
#board { font-size: 22px; font-weight: 800; text-align: center; }
#data { font-size: 22px; font-weight: 800; text-align: center; }
#archive { font-size: 22px; font-weight: 800; text-align: center; }
#shortcuts { font-size: 22px; font-weight: 800; text-align: center; }
.introduce-list { padding-inline-start: 15px; text-align: left; margin-block-start: 10px; margin-block-end: 15px; }
.boards-list { padding-inline-start: 15px; text-align: left; margin-block-start: 10px; margin-block-end: 15px; }
.data-list { padding-inline-start: 15px; text-align: left; margin-block-start: 10px; margin-block-end: 15px; }
.archive-list { padding-inline-start: 15px; text-align: left; margin-block-start: 10px; margin-block-end: 15px; }
.nav-introduce { margin-top: 10px; }
.shortcut-wrap { margin-top: 35px; }
.fb_link { position: relative; width: auto; height: auto; max-width: 170px; max-height: 85px; margin-bottom: 3px; }
.karl_link { position: relative; width: auto; height: auto; max-width: 170px; max-height: 85px; margin-bottom: 3px; }
.kca_link { position: relative; width: auto; height: auto; max-width: 170px; max-height: 85px; margin-bottom: 3px; }
.kau_link { position: relative; width: auto; height: auto; max-width: 170px; max-height: 85px; margin-bottom: 3px; }

.board-right {
    margin-top: 10px;
    width: 1000px;
    height: 1000px;
	text-align: left;
    display: inline-block;
    border: 1px solid #DCDCDC;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
}

.main-gallery {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
}
  
.gal-box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
}
  
.gal-box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
}
  
.gal-box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
}
  
.gal-box:hover { flex: 1 1 50%; }
.gal-box:hover > img {
    width: 100%;
    height: 100%;
}

.footer {
	background-color: #F8F8F8;
    height: 130px;
    margin: auto;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
}
.footer p { position: relative; top : 20px; line-height: 10px; }
#copyright { margin-top: 25px; }

/* 링크 hover, cursor 효과 */
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #006699;
    text-decoration: underline;
}
